<div class="container">
  <div class="form">
    <h1>Create A New Student</h1>
      <%= form_for(@student) do |f| %>
       <%= f.text_field :first_name, :placeholder => "First name" %>
       <%= f.text_field :last_name, :placeholder => "Last name" %>
       <%= f.email_field :email, :placeholder => "Email" %>
       <%= f.password_field :password, :placeholder => "Password" %>
       <%= f.text_field :teacher_id, :placeholder => "Teacher ID" %>
       <%= f.submit "Create an account", class: "btn-submit" %>
      <% end %>
  </div>
  </div>
</div>
