<!DOCTYPE html>
<html>
<html lang="en">
<head>
  <title>Gradebook</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <!-- Bootstrap -->
      <link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
<div class="container">
  <% if current_user %>
  Welcome <%= current_user.first_name %>!
  <br>
  What you you like to do?
  <nav>
  <ul class="nav navbar-nav navbar-right">
    <% if current_user && current_user.teacher? %>
    <li><%= link_to "Create Teacher", new_teacher_path, method: "get" %></li>
    <li><%= link_to "Create Student", new_student_path, method: "get" %></li>
    <li><%= link_to "Create Parent", new_parent_path, method: "get" %></li>
    <li><%= link_to "See all Teachers", teachers_path, method: "get" %></li>
    <li><%= link_to "See all Students", students_path, method: "get" %></li>
    <% end %>
    <li><%= link_to "Grades", grades_path, method: "get" %></li>
    <li><%= link_to "Change password", edit_user_path(:id), method: "patch" %></li>
    <li><%= link_to "Log out", logout_path, method: "delete" %></li>
  </ul>
  </nav>
    <ul>

    </ul>
  <% else %>
  <%= yield %>
    <ul>
      <li><%= link_to "Login", 'login' %></a></li>
      <li><%= link_to "Signup", 'signup' %></a></li>
    </ul>
  <% end %>
</div>
</body>
</html>
